<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flossycare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Flossy Care"
        android:roundIcon="@mipmap/ic_launcher_flosy_care_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlossyCare">
        <activity android:name=".AppointmentDetailsActivity"></activity>
        <activity android:name=".CalendarActivity" />
        <activity android:name=".DoctorActivity" />
        <activity android:name=".ClinicActivity" />
        <activity android:name=".StartScreenActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".PPActivity" />
        <activity android:name=".TermsNConditionActivity" />
        <activity
            android:name=".ResetPassActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>